{% extends 'base.html' %}
{% load static %}

{% block title %}Manage Quizzes{% endblock %}


{% block css %}
<style>

.questionWrapper {
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
}

.questionWrapper>.questionContainer {
    padding-top: 0px;
    padding-bottom: 15px;
    margin: 0 auto;
    width: 95%;
}

.fixed-action-btn {
  position: relative;
  float: left;
  right: 0px;
  bottom: 0px;
  padding-top: 15px;
}
.btn-floating {
    border-radius: 1000px;
}
.btn-override {
    width: auto !important;
    height: auto !important;
    border-radius: 10px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    text-transform: uppercase !important;
    vertical-align: middle !important;
}
div.input-field>label{
    color: #5f5f5f;
}

.quesionInput {
    margin-bottom: 0px;
}

.noPadding {
    padding: 0px;
    border: 0px;
    margin:0px;
}

.questionTypeLabel{
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

::placeholder {
  color: darkgray;
  opacity: 1;
}

.autoGradeContainer {
    padding-left: 8px;
    padding-right: 8px;
}

label {
    color: black;
}

.submitButton{
position:relative;
float: right;
}
</style>
{% endblock %}



{% block content %}



<h2 class="center-align">Create Quiz</h2>


<div class="row">
    <div class="col s12">
        <form id="quizDataForm" method="post">{% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m8">
                    <i class="material-icons text-accent-1 prefix">mode_edit</i>
                    <input class="black-text" type="text" name="quizName" id="id_quizName" autofocus required>
                    <label class="black-text" for="id_quizName">Quiz Name</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons text-accent-1 prefix">code</i>
                    <input readonly class="grey-text text-darken-1" type="text" name="quizID" id="id_quizID" value="{{ quizIDtoUse }}" required>
                    <label class="black-text text-darken-4" for="id_quizID">Quiz ID</label>
                </div>
            </div>    
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons text-accent-1 prefix">add</i>
                    <select name="assignedCourse" required>
                        <option value="" disabled selected>Select course for quiz</option>
                        {% for i in courseObjects %}
                        <option value="{{i.pk}}">{{i.courseName}}</option>
                        {% endfor %}
                    </select>
                    <label>Assign quiz to course</label>
                </div>  
            </div>
            <input hidden name="allQuestionsJSON" id="allQuestionsJSON"></input>
        </form>

        
        <!-- Questions -->
        <div id="allQuesitonsContainer">

        </div>



        <!-- FAB -->
        <div class="row">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large accent-2-btn">
                    <i class="large material-icons">add</i>
                </a>
                <ul>
                    <li><a onclick="createQuestion('sa')" class="btn-floating accent-1-btn btn-override"><i class="material-icons left">short_text</i>Short Answer</a></li>
                    <li><a onclick="createQuestion('la')" class="btn-floating accent-1-btn btn-override"><i class="material-icons left">subject</i>Long Answer</a></li>
                    <li><a onclick="createQuestion('mc')" class="btn-floating accent-1-btn btn-override"><i class="material-icons left">radio_button_checked</i>Multiple Choice</a></li>
                    <li><a onclick="createQuestion('cb')" class="btn-floating accent-1-btn btn-override"><i class="material-icons left">check_box</i>Checkboxes</a></li>
                </ul>
            </div>
            <a class="submitButton accent-1-btn waves-effect waves-light btn" style="margin-top: 5px;" onclick="submitForm()"><i class="material-icons right">done</i>create quiz</a>
        </div>
    </div>
  </div>



{% endblock %}




{% block javascript %}
<script>

$( document ).ready(function() {
    $('.fixed-action-btn').floatingActionButton({
        direction: 'right',
        hoverEnabled: false
    });
    $('select').formSelect();
});

class Question {
    constructor(qType, qID){
        //short ans, long ans, multiple choice, checkbox
        //sa, la, mc, cb 
        this._____var__questionType = qType;

        this._____var__questionID = qID;
    }

    get questionType(){
        return this._____var__questionType;
    }
    set questionType(x){
        this._____var__questionType = x;
    }

    get questionTitle(){
        return this._____var__questionTitle;
    }
    set questionTitle(x){
        this._____var__questionTitle = x;
    }

    get isAutoGraded(){
        return this._____var__isAutoGraded;
    }
    set isAutoGraded(x){
        this._____var__isAutoGraded = x;
    }

    get questionOptions(){
        return this._____var__questionOptions;
    }
    set questionOptions(x){
        this._____var__questionOptions = x;
    }

    get correctAnswer(){
        return this._____var__correctAnswer;
    }
    set correctAnswer(x){
        this._____var__correctAnswer = x;
    }

    get checkboxValues(){
        return this._____var__checkboxValues;
    }
    set checkboxValues(x){
        this._____var__checkboxValues = x;
    }

    get marksAwarded(){
        return this._____var__marksAwarded;
    }
    set marksAwarded(x){
        this._____var__marksAwarded = x;
    }

    get questionID(){
        return this._____var__questionID;
    }
    set questionID(x){
        this._____var__questionID = x;
    }

}

var availableQuestionID = 0;


var questions = [];

function createQuestion (qType) {
    availableQuestionID += 1;
    newQuestion = new Question(qType, availableQuestionID);
    questions.push(newQuestion);
    $("#allQuesitonsContainer").append(generateQuesionHTML(newQuestion));
    updateNumberedList();
    initialiseChips(qType, availableQuestionID);
}

function initialiseChips (qType, qID){
    if (qType === "mc" || qType === "cb"){
        $(`.chips-placeholder.chips-identifier-${qID}`).chips({
            placeholder: 'Add options',
            secondaryPlaceholder: '+Option',
            onChipAdd: function(){chipsEdited(qID);},
            onChipDelete: function(){chipsEdited(qID);},
        });
    }
}

function updateNumberedList (){
    for (i = 0; i < questions.length; i++){
        $(`#questionNumberLabel${questions[i].questionID}`).text(`${i + 1}.`);
    }
}

function chipsEdited(qID){
    var instance = M.Chips.getInstance($(`.chips-placeholder.chips-identifier-${qID}`));
    var chipsData = instance.chipsData;

    var parsedChipsData = [];
    for (i = 0; i < chipsData.length; i++){
        parsedChipsData.push(chipsData[i].tag);
    }

    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            return true; // stop searching
        }
    });

    if (question.questionType === "cb"){
        var checkboxData = question.checkboxValues;
        if (checkboxData === undefined){
            checkboxData = {};
        }
        var newCheckboxData = {};
        for (i = 0; i < parsedChipsData.length; i++){
            if (parsedChipsData[i] in checkboxData){
                newCheckboxData[parsedChipsData[i]] = checkboxData[parsedChipsData[i]];
            }
            else {
                newCheckboxData[parsedChipsData[i]] = false;
            }
        }
        
        question.checkboxValues = newCheckboxData;
    }

    question.questionOptions = parsedChipsData;

    autoGradeAdd(qID);
    autoGradeAdd(qID);
}

function questionChanged (qID) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            questions[i].questionTitle = $(`#QuestionTitle${qID}`).val();
            return true; // stop searching
        }
    });
}

function deleteQuestion (qID) {
    questions.find((o, i) => {
        if (o.questionID === qID) {
            questions.splice(i, 1);
            return true; // stop searching
        }
    });
    $(`.questionWrapper.question-div-identifier-id-${qID}`).remove();
    updateNumberedList();
}

function generateQuesionHTML (question) {
    
    if (question.questionType === "sa"){
        var questionTypeLabel = "Short Answer"
    } else if (question.questionType === "la"){
        var questionTypeLabel = "Long Answer"
    } else if (question.questionType === "mc"){
        var questionTypeLabel = "Multiple Choice"
    } else if (question.questionType === "cb"){
        var questionTypeLabel = "Checkboxes"
    }


    //actual question
    var generatedHTML = `
    <div class="row questionWrapper z-depth-2 question-div-identifier-id-${question.questionID}">
        <div class="questionContainer">
            <div class="row  noPadding valign-wrapper">
                <div class="input-field col s12 m10 quesionInput">
                    <h1 style="margin: 0px;" id="questionNumberLabel${question.questionID}" class="prefix"></h1>
                    <textarea onfocusout="questionChanged(${question.questionID})" id="QuestionTitle${question.questionID}" class="materialize-textarea"></textarea>
                    <label for="QuestionTitle${question.questionID}">Question</label>
                </div>
                <div class="col s5 m2">
                    <div class="grey darken-2 z-depth-1 questionTypeLabel white-text center-align">${questionTypeLabel}</div>
                </div>
            </div>
            <div class="row right-align noPadding" style="padding-right: 10px;">
                <a class="btn-flat"><i style="font-size: 2rem;" class="material-icons large red-text" onclick="deleteQuestion(${question.questionID})">delete</i></a>
            </div>`;

    if (question.questionType === "mc" || question.questionType === "cb") {
        generatedHTML += `
        <div class="row black-text" style="padding-left: 20px; padding-right: 20px;">
            <p style="margin-bottom: 0px; margin-top: 0px;">Options to choose from</p>
            <div style="margin-top: 0px;" class="chips chips-placeholder chips-identifier-${question.questionID}" ></div>
        </div>`
    }

    //autograde selector
    if (question.questionType != "la"){
        generatedHTML += `
            <div class="row" style="padding-left: 20px;">
                <div class="switch">
                    Auto-grade answer
                    <label >
                        <input onchange="autoGradeAdd(${question.questionID})" type="checkbox">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>`;
    }


    generatedHTML += `
        </div>
    </div>`;
    return generatedHTML;
}

function autoGradeAdd(qID) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            questions[i].isAutoGraded = !questions[i].isAutoGraded;
            return true; // stop searching
        }
    });
    
    if (question.isAutoGraded) {
        $(`div.question-div-identifier-id-${question.questionID.toString()} > div.questionContainer`).append(generateAutoGrade(question));
    } else {
        $(`div.question-div-identifier-id-${question.questionID.toString()} > div.questionContainer>.autoGradeContainer`).remove();
    }
    $('select').formSelect();
}

function saValidationChanged(qID) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            questions[i].correctAnswer = $(`#validationAnswer${qID}`).val();
            return true; // stop searching
        }
    });
}
function mcValidationChanged(qID) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            questions[i].correctAnswer = $(`#validationAnswer${qID}`).val();
            return true; // stop searching
        }
    });
}
function cbValidationChanged(qID, checkboxIndex) {
    let question = questions.find((o, i) => {
        if (o.questionID === qID) {
            var currentCheckboxValues = questions[i].checkboxValues;
            var optionChanged = questions[i].questionOptions[checkboxIndex];
            currentCheckboxValues[optionChanged] = !currentCheckboxValues[optionChanged];
            questions[i].checkboxValues = currentCheckboxValues;
            var correctAnswers = [];
            for (j = 0; j < currentCheckboxValues.length; j++) {
                if (currentCheckboxValues[j] === true) {
                    correctAnswers.push(Object.keys(currentCheckboxValues)[j]);
                }
            }
            questions[i].correctAnswer = correctAnswers;
            return true; // stop searching
        }
    });
}

function generateAutoGrade(question){
    var generatedHTML = "";
    if (question.questionType === "sa"){
        generatedHTML += `
        <div class="row autoGradeContainer">
            <div class="input-field col s12 m6">
                <input id="validationAnswer${question.questionID}"  type="text" class="validate" onfocusout="saValidationChanged(${question.questionID})">
                <label class="active" for="validationAnswer${question.questionID}">Answer to check against</label>
            </div>
        </div>`;
    } 
    else if (question.questionType === "mc"){
        generatedHTML += `
        <div class="row autoGradeContainer">
            <div class="input-field col s12 m6">
                <select id="validationAnswer${question.questionID}" onChange="mcValidationChanged(${question.questionID})">
                    <option value="" disabled selected>Select correct option</option>
                    `
        question.questionOptions.forEach(function (option, index) {
            generatedHTML += `
                    <option value="${index.toString()}">${option}</option>\n`
        });
        generatedHTML += `
                </select>
                <label>Correct Option</label>
            </div>
        </div>`;
    } 
    else if (question.questionType === "cb"){
        generatedHTML += `
        <div class="row autoGradeContainer">
            <div style="margin-top: 10px;" class="input-field col s12 m6">
            <p style="margin-top: 0px;">Select Correct Options</p>`;
        question.questionOptions.forEach(function (option, index) {
            if (question.checkboxValues[option] === true){
                var isCheckedHTML = 'checked="checked"';
            }
            else {
                var isCheckedHTML = '';
            }
            generatedHTML += `
            <p>
                <label>
                    <input type="checkbox" ${isCheckedHTML} id="checkbox-question${question.questionID}-index${index}" oninput="cbValidationChanged(${question.questionID}, ${index})"/>
                    <span>${option}</span>
                </label>
            </p>`;
        });
    }
        
    return generatedHTML;

}






function convertToJSON() {
    jsonQuestions = JSON.stringify(questions);
    $("#allQuestionsJSON").val(jsonQuestions);
}

function submitForm() {
    convertToJSON();
    $("#quizDataForm").submit();
}

</script>

{% endblock %}