{% extends 'base.html' %}
{% load static %}

{% block title %}Class Student View{% endblock %}

{% block content %}

<br><br>
<h3 class="center-align">{{ class }}</h3>
<br>

<h4>Courses</h4>
<hr>
<table class="striped responsive-table">
    <thead>
        <th>Course Name</th>
        <th>Institution</th>
        <th></th>
    </thead>

    <tbody>
        {% for i in courses %}
        </tr>
            <td>
                <a href="/course/{{ i.id }}/accounts">{{ i.courseName }}</a>
            </td>
            <td>{{ i.courseInstitution }}</td>
        {% endfor %}
    </tbody>
</table>

<br><br>
<h4>People</h4>
<hr>
<table class="striped responsive-table">
    <caption class="left-align"><h5>Teachers</h5></caption>    
    <thead>
        <th>Name</th>
        <th>Email</th>
    </thead>

    <tbody>
        {% for i in teachers %}
        <tr>
            <td>
                <a href="/account/{{ i.id }}">{{ i.first_name }} {{ i.last_name }}</a>
            </td>
            <td>{{ i.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br>

<table class="striped responsive-table">
    <caption class="left-align"><h5>Students</h5></caption>    
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            {% if user.accountType == 'Teacher' %}
            <th>Uncompleted Tasks</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for i in students %}
        <tr>
            <td>
                {% if user.accountType == 'Teacher' %}
                <a href="/account/{{ i.id }}">{{ i.first_name }} {{ i.last_name }}</a>
                {% else %}
                {{ i.first_name }} {{ i.last_name }}
                {% endif %}
            </td>
            <td>{{ i.email }}</td>
            {% if user.accountType == 'Teacher' %}
            <td>{{ i.uncompletedTasks }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}