{% extends 'base.html' %}
{% load static %}

{% block title %}Class Student View{% endblock %}

{% block content %}

<br><br>
<h3 class="center-align">{{ class }}</h3>


<table class="striped responsive-table">
    <caption class="left-align"><h5>Teachers</h5></caption>
    <thead>
        <th>Name</th>
        <th>Email</th>
    </thead>

    <tbody>
        {% for i in teachers %}
        <tr>
            <td>
                <a href="/account/{{ i.id }}">{{ i.first_name }} {{ i.last_name }}</a>
            </td>
            <td>{{ i.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br>

<table class="striped responsive-table">
    <caption class="left-align"><h5>Students</h5></caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            {% if user.accountType == 'Teacher' %}
            <th>Uncompleted Tasks</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for i in students %}
        <tr>
            <td>
                <a href="/account/{{ i.id }}">{{ i.first_name }} {{ i.last_name }}</a>
            </td>
            <td>{{ i.email }}</td>
            {% if user.accountType == 'Teacher' %}
            <td>{{ i.uncompletedTasks }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}