{% extends 'base.html' %}
{% load static %}

{% block title %}Course View{% endblock %}

{% block content %}

<h3 class="center-align">{{ course }}</h3>
<br>

{% if user.accountType != "Student" %}
<h4>Classes</h4>
<hr>
<table class="striped responsive-table">
    <thead>
        <th>Class</th>
        <th>Institution</th>
    </thead>

    <tbody>
        {% for i in classes %}
        <tr>
            <td>
                <a href="/class/{{ i.id }}/accounts">{{ i.className }}</a>
            </td>
            <td>{{ i.classInstitution }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br><br>
<h4>Modules</h4>
<hr>

{% for i in modules %}
<br>
<table class="striped responsive-table">
    <caption class="left-align"><h5>{{ i.moduleName }}</h5></caption>
    
    {% if i.quizzes %}
    <thead>
        <th>Quizzes</th>
        <th>Due Date</th>
    </thead>
    {% endif %}

    <tbody>
        {% for j in i.quizzes %}
        <tr>
            <td>
                <a href="/quizzes/do/{{ j.quizID }}">{{ j.quizName }}</a>
            </td>
            <td>{{ j.quizDueDate }}</td>
        </tr>
        {% endfor %}
    </tbody>

    {% if i.videoLessons %}
    <thead>
        <th>Videos</th>
    </thead>
    {% endif %}
    
    {% for j in i.videoLessons %}
    <tbody>
        <tr>
            <td>
                <a href="/videoLessons/view/{{ j.videoID }}/">{{ j.videoName }}</a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
    
    {% if i.fileUploads %}
    <thead>
        <th>Files</th>
    </thead>
    {% endif %}

    {% for j in i.fileUploads %}
    <tbody>
        <tr>
            <td>
                <a href="{{ j.uploadedFile.url }}">{{ j.fileName }}</a>
            </td>
        </tr>
    </tbody>
    {% endfor %}

    {% if i.liveLessons %}
    <thead>
        <th>Live Lessons</th>
        <th>Stream Date</th>
    </thead>
    {% endif %}

    <tbody>
        {% for j in i.liveLessons %}
        <tr>
            <td>
                <a href="/live/join/{{ j.streamID }}">{{ j.lessonName }}</a>
            </td>
            <td>{{ j.streamTime }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endfor %}

{% endblock %}