{% extends 'base.html' %}
{% load static %}

{% block title %}Course View{% endblock %}

{% block content %}

<h3 class="center-align">{{ course }}</h3>
<br>

{% if user.accountType != "Student" %}
<h4>Classes</h4>
<hr>
<table class="striped responsive-table">
    <thead>
        <th>Class</th>
        <th>Institution</th>
    </thead>

    <tbody>
        {% for i in classes %}
        <tr>
            <td>
                <a href="/class/{{ i.id }}/accounts">{{ i.className }}</a>
            </td>
            <td>{{ i.classInstitution }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br><br>
<h4>Materials</h4>
<hr>

<table class="striped responsive-table">
    <caption class="left-align"><h5>Quizzes</h5></caption>
    <thead>
        <th>Quiz Name</th>
        <th>Due Date</th>
    </thead>

    <tbody>
        {% for i in quizzes %}
        <tr>
            <td>
                <a href="/quizzes/do/{{ i.quizID }}">{{ i.quizName }}</a>
            </td>
            <td>{{ i.quizDueDate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br><br>

<table class="striped responsive-table">
    <caption class="left-align"><h5>Video Lessons</h5></caption>
    <thead>
        <th>Video Name</th>
    </thead>

    <tbody>
        {% for i in videoLessons %}
        <tr>
            <td>
                <a href="/videoLessons/view/{{ i.videoID }}/">{{ i.videoName }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}