{% extends 'base.html' %}
{% load static %}

{% block title %}Student View{% endblock %}

{% block content %}

{% if user.accoutType != "Teacher" %}
<!--Only allows teachers to view-->
<br><br>
<p class="red-text center-align">You do not have permission to view this page.</p>
{% else %}

<br><br>
<h2 class="center-align">{% course %}</h2>
<br>

<!--Label-->
<div class="row">
    <div class="col s12 m8">
        <div class="col s2 m2">
            <p>Name</p>
        </div>
        <div class="col s5 m3">
            <p>Courses</p>
        </div>
        <div class="col s5 m3">
            <p>Uncompleted tasks</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m8">
        {% for i in Students %}
        <div class="row">
            <a href="account/{{ i.studentID }}">
                <div class="col s2 m2">
                    <p>{% i.first_name + ' ' + i.last_name %}</p>
                </div>


                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% endif %}
{% endblock %}