{% extends 'base.html' %}
{% load static %}

{% block title %}Manage Video Lessons{% endblock %}

{% block css %}
<style>
    /* pagination colours */
    .tabs .tab a {
        color: #0e143f;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active {
        background-color: #00000031;
    }
    .tabs .tab a:hover, .tabs .tab a.active {
        color: #0e143f;
    }
    .tabs .indicator {
        background-color: #0e143f;
    }

    /* pagination box size */
    .tabs-content {
        height: 600px !important;
    }
  </style>
{% endblock %}

{% block content %}

<br><br>
<h2 class="center-align">Manage Video Lessons</h2>

<div class="row paginationRow">
    <div class="col s12 m10 l7">
        <ul class="tabs">
            <li class="tab"><a href="#all">All Videos</a></li>
            <li class="tab"><a href="#assign">Assign Videos</a></li>
            <li class="tab"><a href="#add">Add Videos</a></li>
        </ul>
    </div>

    <div id="all" class="col s12">
        ALL VUDEOSSSSAZZZ

    </div>

    <div id="assign" class="col s12">
        ASSIGNNN
    
    </div>

    <div id="add" class="col s12">
        <div>
            <h4>Add New Video</h4>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" name="managementAction" value="create" />

                <div class="row">
                    <div class="input-field col s12 m8">
                        <i class="material-icons text-accent-1 prefix">mode_edit</i>
                        <input class="black-text" type="text" name="videoName" id="id_videoName" autofocus required>
                        <label class="black-text" for="id_videoName">Video Name</label>
                    </div>
                    <div class="input-field col s12 m4">
                        <i class="material-icons text-accent-1 prefix">code</i>
                        <input disabled class="grey-text text-darken-1" type="text" name="videoID" id="id_videoID" value="{{videoIDtoUse}}" required>
                        <label class="black-text text-darken-4" for="id_videoID">video ID</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons text-accent-1 prefix">mode_edit</i>
                    <textarea class="black-text materialize-textarea" name="additionalComments" id="id_additionalComments" ></textarea>
                    <label class="black-text" for="id_additionalComments">Additional Comments</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m6">
                        <div class="file-field input-field">
                            <div class="btn accent-1">
                            <span>Upload Video File</span>
                            <input name="videoFile" type="file" accept=".mp4" class="validate">
                            </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select>
                        <option selected>None</option>
                        <option>Quiz</option>
                        <option>Next Video</option>
                        </select>
                        <label>Action to do after video</label>
                    </div>
                </div>

                <input id="afterActionInput" name="afterAction" value="none" hidden disabled/>

                <button class="btn accent-1" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}

<script>

$(document).ready(function(){
    $('.tabs').tabs({ swipeable: true, duration: 300 });
    $('select').formSelect();
  });

$(function() {
    $("span:contains('None')").on("click", function() {
        $("#afterActionInput").attr("value", "none");
    });
    $("span:contains('Quiz')").on("click", function() {
        $("#afterActionInput").attr("value", "quiz");
    });
    $("span:contains('Next Video')").on("click", function() {
        $("#afterActionInput").attr("value", "nextVideo");
    });
});

</script>

{% endblock %}