<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}"/>
    {% block css %}
    {% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- navbar -->
    <div class="navbar-fixed">
      <nav class="transparent z-depth-0">
        <div class="container">
          <div class="nav-wrapper black-text">
            <!-- if logged in -->
            <a href="/"><img class="brand-logo" src="{% static "img/StarHorizonLogoDark.png" %}"
              alt="Star Horizon Logo"></a>
            <ul class="navlinks right hide-on-med-and-down">
              <li><a href="#">Lorem</a></li>
              <li><a href="#">Ipsum</a></li>
              <li><a href="#">Dolor</a></li>
              {% if user.is_authenticated %}
              <li><a href='/account/manage'>Manage Account</a></li>
              <li><a href='/logout'>Log Out</a></li>
              {% else %}
              <li><a href='/login'>Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </head>

  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {% block fullWidthContent %}
    {% endblock %}

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    {% block javascript %}
    {% endblock %}
  </body>

</html>